// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  padding: 0px;
}

h1 {
  color: pink;
  font-family: Helvetica;
  text-alignment: center;
  padding-top: 55px;
}

/*** Navbar ***/
nav ul li {
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
  font-family: 'Pontano Sans', Helvetica, Arial, sans-serif;
  }

nav {
  background-color: #424242;
}

thead tr th {
  letter-spacing: 0.2em;
}

#description {
  padding-left: 10%;
}
#image {
  padding-left: 20%;
}


// contact
.contact{
  height: 100vh;
}

.contact ul{
  list-style-type: none;
}

.contact-content{
  left: 30%;
}

/*** Footer ***/
.footer-social {
  float: right;
  display: inline;
  padding-right: 2%;
}
.fb-share-button {
  display: inline-block;
  position: relative
}
.twitter-follow-button {
  padding-right: 2%;
}
.embed-responsive-item {
  display: block;
}